.container{
    background-color: #FFD700;
    height: 40vi;
    border-radius: 40px;
}
.done{
    background-color: black;
    margin-top: 35px;
}

html{
    background-color: black;
}
body{
    background-color: black;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    
}
.cell{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    background-color: black;
    color: #FFD700;
}
label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large; 
}